<section class="relative bg-gray-800 bg-cover bg-center text-white" style="background-image: url('/revslider_1.jpg'); height: 60vh;">
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <div class="relative z-10 flex flex-col justify-center max-w-md md:max-w-2xl h-full px-10 md:px-20">
    <h1 class="text-4xl md:text-6xl font-serif font-bold mb-4">
      Find the Perfect Ring Make
    </h1>
    <p class="text-lg md:text-xl mb-8 max-w-2xl">
      Get lifted with the 21-Day FacialGua Sha Challenge
    </p>
    <a href="#" class="hover:bg-white hover:text-gray-800 font-bold py-2 px-4 max-w-28 border hover:border-transparent bg-transparent text-white border-white transition duration-300">
      Shop Now
    </a>
  </div>
</section>
